      a {color: #555;}
      body {background-color: #00FFFF; font-family: Arial; margin:10px;} 
      #mydiv{background-color: #C8ECA3; border:10px solid black; margin:20px; text-align: center;}
      h2{text-transform: uppercase; box-shadow: 10px 10px 5px #888888;}
      #mydiv1{background-color:#ECB0A3;}
      #mydiv2{background-color: yellow;}
      .lotofpadding{padding:50px;}
